h2{
  margin-bottom: 0px;
}

p{
  margin-top: 0px;
}
  .about-section {
   
    margin: 50px; /* Adds space between each section */
  }
  
  .about-description, .about-team, .about-mission {
    text-align: center; /* Ensures text is centered if you prefer, or use left for more traditional alignment */
    font-size: 16px;
    color: #666;
    max-width: 800px; /* Limits width for better readability */
  }
  

  #about {
    display: flex;
    flex-direction: column; /* Ensures content is stacked vertically */
    align-items: center; /* Center-aligns the items for better aesthetics */
    text-align: center;
    background-color: #f5f5f7;
    /* height: 100vh; */

  }