#contact{
    text-align: center;
    background-color: rgb(142 , 142, 147);
    color: white;
    padding: 40px;
    /* margin-top: 50px; */
}

#contact h2 {
    margin: 50px;
}

#contact a {
    text-decoration: underline rgb(255, 59, 48);
    color: white;
  }
  

.gh-section {
    margin: 10px;
    padding: 10px;
  }
  
 