
  .home-title {
    color: rgb(255, 59, 48); /* Apple blue */
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .home-introduction {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    max-width: 1000px;
    /* max-width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  }

  img{
    width: 100%;
  }
 #home p{
    padding: 50px;
    
  }
  #home {
    text-align: center;
   
  }