.home-section {
    /* padding: 20px; */
    text-align: center;
  }
  
  .home-title {
    color: rgb(255, 59, 48); /* Apple blue */
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .home-introduction {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }

  img{
    width: 100%;
  }
 #home p{
    padding: 50px;
  }
  