body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.section {
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
    /* padding: 40px; */
    /* margin: 20px; */
}

/* Add additional styling here */
